@import "/variables.scss";
@import "/mixins.scss";

.postAuthor {
  display: flex;
  align-items: center;
}

a.authorName {
  margin-left: 0.5rem;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
