@import "../../variables.scss";
@import "../../mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid #ece7dc;

  @include dark {
    border-bottom: none;
  }
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &Icon {
    width: 2.5rem;
    height: auto;
  }

  &Name {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
}

.navigation {
  flex: 1;
  display: flex;
  align-items: center;

  justify-content: flex-end;
  margin-top: 1.2rem;
  margin-bottom: 1rem;

  a {
    margin: 0 0.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.activeNav {
  color: $lightmode-text-color;
  border-bottom: 1px solid $lightmode-text-color;

  @include dark {
    color: $darkmode-text-color;
    border-bottom: 1px solid $darkmode-text-color;
  }
}

.darkModeToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
  line-height: 0;
  color: $text-light-color;
  margin-left: 1rem;

  @include dark {
    color: $darkmode-text-color;
  }
}

.main {
  margin-bottom: 4rem;
  padding-top: 2rem;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f0ece4;

  @include dark {
    background-color: #0d1b2e;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto 0 auto;


  @include display-md {
    max-width: initial;
    flex-direction: row;
    gap: 2rem;
  }

  &Prompt {
    flex: 1;
  }

  &Form {
    flex: 1;

    @include display-md {
      padding-top: 2rem;
    }

    label {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.emailInput {
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 0.25rem;
  padding: 0.5rem;

  &:focus {
    outline: none;
    border-color: #777;
  }

  @include dark {
    background-color: #112240;
    border-color: #1e3352;
    color: $darkmode-text-color;
  }

  :global(.page.dark) &:focus {
    border-color: $palette-dark-accent;
  }
}

.invalidInput {
  border-color: red;
}

.invalidMsg {
  font-size: small;
  margin-left: 0.5rem;
}

.donate {
  width: 240px;
  margin: 0 auto 3rem auto;
  text-align: center;
  margin-top: 2rem;
}

.copyright {
  font-size: small;
  text-align: center;
}
