@import "/variables.scss";
@import "/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  order: 1;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &Icon {
    width: 2.5rem;
    height: auto;
  }

  &Name {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
}

.navigation {
  order: 4;
  width: 100%;
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  @include display-md {
    flex: 1;
    width: auto;
    order: 3;
    margin-right: 2rem;
  }

  a {
    margin: 0 0.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.activeNav {
  color: $lightmode-text-color;
  border-bottom: 1px solid $lightmode-text-color;

  @include dark {
    color: $darkmode-text-color;
    border-bottom: 1px solid $darkmode-text-color;
  }
}

.darkModeToggle {
  order: 3;
  color: white;

  :global(.react-toggle-track-check), :global(.react-toggle-track-x) {
    top: -5px;
  }
}

.main {
  margin-bottom: 4rem;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #eee;

  @include dark {
    background-color: #111;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto 0 auto;
  

  @include display-md {
    max-width: initial;
    flex-direction: row;
    gap: 2rem;
  }
  
  &Prompt {
    flex: 1;
  }

  &Form {
    flex: 1;
    
    @include display-md {
      padding-top: 2rem;
    }
    
    label {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.emailInput {
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 0.25rem;
  padding: 0.5rem;

  &:focus {
    outline: none;
    border-color: #777;
  }

  @include dark {
    background-color: #333;  
    border-color: #444;
    color: $darkmode-text-color;
  }

  :global(.page.dark) &:focus {
    border-color: #777;
  }
}

.invalidInput {
  border-color: red;
}

.invalidMsg {
  font-size: small;
  margin-left: 0.5rem;
}

.donate {
  width: 240px;
  margin: 0 auto 3rem auto;
  text-align: center;
  margin-top: 2rem;
}

.buymeacoffee {
  display: block;
  width: 240px;
  height: 90px;
  background-image: url(./img/buymeacoffee.svg);
  background-size: contain;
  border-radius: 5px;
}

.copyright {
  font-size: small;
  text-align: center;
}
