@import "/variables.scss";

html {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  color: $main-text-color;
}

.container {
  max-width: 660px;
  padding: 1rem;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.siteTitle {
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4rem;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}