@import "/variables.scss";
@import "/mixins.scss";

html {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.page {
  background-color: $lightmode-bg-color;
  color: $lightmode-text-color;
  transition: 1s;
  
  &.dark {
    background-color: $darkmode-bg-color;
    color: $darkmode-text-color;
    transition: 1s;
  }
}

.container {
  max-width: 660px;
  padding: 0 1rem;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: auto;
}

.siteTitle {
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4rem;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

.btnLink {
  display: inline-block;
  border: 2px solid #d3b17c;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: 400ms;

  &:hover {
    text-decoration: none;
    background-color: #dfdfdf;
    color: black;
  }

  .page.dark &:hover {
    background-color: #333;
    color: white;
  }
}