@import "/variables.scss";
@import "/mixins.scss";

.post {
  &Title {
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
    line-height: 1.2;
    margin: 2rem 0;
  }

  &Image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &Body {
    margin-bottom: 2rem;
  }
}

.attribution {
  color: $text-light-color;
  font-size: small;
  text-align: right;
  margin-bottom: 2rem;

  p {
    margin-top: 0;
  }

  a, a:hover, a:focus, a:visited, a:active {
    text-decoration: underline;
    color: $text-light-color;
  }
}