@import "/variables.scss";
@import "/mixins.scss";

.topbar {
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  &Icon {
    width: 2.5rem;
    height: auto;
  }

  &Name {
    font-weight: 200;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}