{% extends "layout.njk" %}

{% block title %}
  Newsletter controls
{% endblock %}

{% block header %}
  Newsletter controls
{% endblock %}

{% block main %}
  <p>Preview: <a href="../preview/{{ newsletter.id }}">{{ newsletter.title }}</a></p>
  
  {% if newsletter.published %}
    <p>This newsletter has already been sent!</p>
  {% else %}
    <p>Ready to send to your subscribers</p>
  {% endif %}

  <div class="buttons">
    <a class="btn-link" href="../send/{{ newsletter.id }}">
      {% if newsletter.published %}
        Send again
      {% else %}
        Send
      {% endif %}
    </a>
    
    {% if newsletter.tester %}
      <a class="btn-link" href="../send/{{ newsletter.id }}?test=true">Test send</a>
    {% else %}
      There is no tester assigned
    {% endif %}
  </div>
{% endblock %}