{% extends "layout.njk" %}

{% block title %}
  Newsletter controls
{% endblock %}

{% block header %}
  Newsletter controls
{% endblock %}

{% block main %}
  <p>Preview: <a href="../preview/{{ newsletter.id }}">{{ newsletter.title }}</a></p>
  
  {% if newsletter.published %}
    <p>This newsletter has already been sent!</p>
  {% else %}
    <p>Ready to send to your subscribers</p>
  {% endif %}

  <div class="buttons">
    <a class="btn-link" href="../send/{{ newsletter.id }}">
      {% if newsletter.published %}
        Send again to {{subsCount}} subs
      {% else %}
        Send to {{subsCount}} subs
      {% endif %}
    </a>
    
    {% if testSubsCount > 0 %}
      <a class="btn-link" href="../send/{{ newsletter.id }}?test=true">
        Test send to {{testSubsCount}} testers
      </a>
    {% else %}
      There are no testers assigned
    {% endif %}
  </div>
{% endblock %}
