@import "/variables.scss";
@import "/mixins.scss";

.postPreview {
  margin-bottom: 3rem;

  &Head {
    display: flex;
    flex-direction: column;

    @include display-md {
      flex-direction: row;
    }
  }

  &Image {
    width: 100%;
    height: auto;
    border-radius: 5px;

    @include display-md {
      width: 16rem;
    }
  }

  &Info {
    flex: 1;
    margin: 1rem 0 0 0;
    
    @include display-md {
      margin: 0 0 0 1.5rem;
    }
  }

  &Title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0 0 0.5rem 0;
    
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &TimeAuthor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Time {
    color: $text-light-color;
  }

  &Foot {
    padding: 0.5rem 0;
  }
}