@import "/variables.scss";
@import "/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brand {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  &Icon {
    width: 2.5rem;
    height: auto;
  }

  &Name {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
}

.main {
  margin-bottom: 4rem;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #eee;

  @include dark {
    background-color: #111;
  }
}

.copyright {
  font-size: small;
  text-align: center;
}